.fitkitchCaseStudy {
    background-color: #fbfbfd;
    font-family: 'Barlow', sans-serif;
}

.fitkitchCover {
    height: 100vh;
    background-color: #FFCFD8;
}

.fitkitchCover h1 {
    color: #E96060;
    font-weight: 800;
    font-size: 5vw;
    margin-top: 15vh;
    margin-left: 13vw;
    margin-bottom: 1vh;
}

.fitkitchCover h2 {
    color: #E96060;
    font-weight: 600;
    font-size: 2vw;
    width: 30vw;
    line-height: 1.4em;
    letter-spacing: -0.01em;
    margin-left: 13vw;
    margin-top: 7vh;
}

.fitkitchCover h3 {
    color: #E96060;
    font-weight: 600;
    font-size: 1.5vw;
    display: inline;
    padding: 1vh 1.5vw;
    line-height: 6vh;
    margin-left: 13vw;
    border: 2px solid #E96060;;
    border-radius: 50px;
}

.fitkitchCover img {
    position: absolute;
    margin-left: 50em;
    margin-top: -22.5em;
}

/* -----FitKitch Intro ---------------------------*/
.fitkitchIntro {
    height: 100vh;
}

#fitkitchIntroQuestion {
    color: #E96060;
    margin-top: 0;
    margin-left: 10vw;
    padding-top: 5vh;
    width: 60vw;
    font-weight: 800;
}

#fitkitchIntroText {
    color: #1D1D1F;
    margin-left: 10vw;
    line-height: 1.4em;
    width: 60vw;
    font-weight: 500;
}

/* ----- Text and Other Modification ---------------------------- */

#redCaseSideHeader {
    color: #E96060;
}

.fitkitchBoldText {
    font-weight: 700;
}

#fitkitchRedBackground {
    background-color: #FFCFD8;
}

#fitkitchSolution {
    background-color: #fecfd8;
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin-bottom: 10vh;
}

#fitkitchSolution1 {
    color: #ea6060;
    margin-left: 15vw;
    margin-bottom: 0.3em;
    font-size: 1.5em;
    font-weight: 700;
    width: 20vw;
}

#fitkitchSolution2 {
    color: #EC1B1B;
    margin-left: 15vw;
    margin-top: 0;
    margin-bottom: 0.3em;
    font-size: 4em;
    font-weight: 800;
    width: 20vw;
}

#fitkitchSolution3{
    color: #EC1B1B;
    margin-left: 15vw;
    font-weight: 500;
    width: 60vw;
    line-height: 1.5em;
}

#fitkitchDesignThinkingGradient {
    background-image: linear-gradient(to right, #7F00FF, #E100FF);
    background-clip: text;
    color: transparent;
}

#fitkitchUserNeedsGradient {
    background-image: linear-gradient(to right, #0B8FFA, #E5DB3E);
    background-clip: text;
    color: transparent;
}

#fitkitchSketchesGradient {
    background-image: linear-gradient(to right, #008860, #15C55B);
    background-clip: text;
    color: transparent;
}