.Navbar {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* "Justin Chong" */
.logo a:last-child {
    font-size: 2vw;
    font-weight: 800;
    text-decoration: none;
    margin-left: 7vw;
    color: #F5F5F5;
}

/* Logo */
.logoPic {
    position: absolute;
    left: 3vw;
}

/* Group of Nav Buttons */
.navButtons {
    display: flex;
    align-items: center;
    margin: 5vh 1vw;
    list-style: none;
}

/* Nav Button */
.navButtons > li {
    margin: 0vh 1vw;
}

.navButtons a, #email-me-button, #resume-download-button {
    text-decoration: none;
    font-family: 'IBM Plex Mono', sans-serif;
    letter-spacing: -0.03em;
    font-size: 1vw;
    font-weight: 800;
    background-color: #F5F5F5;
    color: black;
    border: 1.5px solid black;
    border-radius: 7px;
    padding: 1.3vh 2vw;
    width: 10vw;
}

#about-me-button {
    box-shadow: 3px 3px #d5b36e;
}

#email-me-button {
    box-shadow: 3px 3px #d5b36e;
}

#resume-download-button {
    box-shadow: 3px 3px #d5b36e;
}

#about-me-button:hover {
    box-shadow: 3px 3px white;
    background-color: #DB5A27;
    color: white;
}

#email-me-button:hover {
    cursor: pointer;
    box-shadow: 3px 3px white;
    background-color: #DB62B8;
    color: white;
}

#resume-download-button:hover {
    cursor: pointer;
    box-shadow: 3px 3px white;
    background-color: #7932C7;
    color: white;
}

#dropdownItemSWE {
    background-color: #160C59;
    color: white;
    font-weight: 600;
    display: flex;
    border-radius: 7px 7px 0px 0px;
    border-bottom: 1px solid #160C59;
}

#dropdownItemDesign {
    background-color: #160C59;
    color: white;
    font-weight: 600;
    display: flex;
    border-radius: 0px;
    border-top: 1px solid #160C59;
    border-bottom: 1px solid #160C59;
}

#dropdownItemPM {
    background-color: #160C59;
    color: white;
    font-weight: 600;
    display: flex;
    border-radius: 0px 0px 7px 7px;
    border-top: 1px solid #160C59;
}

#dropdownItemSWE:hover {
    background-color: gray;
}

#dropdownItemDesign:hover {
    background-color: gray;
}

#dropdownItemPM:hover {
    background-color: gray;
}