.aboutMe {
    color: white;
    font-family: 'Barlow', sans-serif;
}

#profilePic {
    margin-left: 10vw;
    margin-top: 3em;
}

#aboutMeText {
    width: 50vw;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 24em;
    margin-top: -16em;
}

#aboutMeText1 {
    width: 50vw;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 24em;
    margin-top: -1em;
    
}

.boldPinkText {
    color: #DB62B8;
    font-weight: 700;
}

.boldBlueText {
    color: #99E9FC;
    font-weight: 700;
}

.boldYellowText {
    color: #FBF44C;
    font-weight: 700;
}

#skiing {
    height: 60%;
    width: 68vw;
    margin-left: 15vw;
    margin-top: 1em;
}

.aboutMe h4 {
    font-size: 1.8vw;
    font-weight: 500;
    line-height: 143.4%;
    margin-left: 16vw;
    margin-bottom: 10vh;
    width: 70vw;
}

#dancing {
    height: 60%;
    width: 68vw;
    margin-left: 15vw;
    margin-top: 5vh;
}

#foodie {
    height: 60%;
    width: 68vw;
    margin-left: 15vw;
    margin-top: 5vh;
}

#foodieText {
    margin-bottom: 20vh;
}

#daliLabLink {
    color: white;
    font-style: italic;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 white;
}

#daliLabLink:hover {
    box-shadow: inset 100px 0 0 0 white;
    color: black;
    text-decoration: none;
}